<div id="container" class="flex-vertical">
    <div id="status">
        <div id="pace">
            <div id="value">Pace: <%= @stats.pace %></div>
            <div id="graph">
                <div id="progress"></div>
            </div>
        </div>
        <div id="progress">
            <div id="daily_goal" class="flex-vertical">
                <span>Daily Goal</span>
                <span><%= @stats.daily_goal %></span>
                <span>per day</span>
            </div>
            <div id="current" class="flex-vertical">
                <span>Current</span>
                <span><%= @stats.current %></span>
                <span><%= @stats.to_go %> to go</span>
            </div>
            <div id="projected" class="flex-vertical">
                <span>Projected</span>
                <span><%= @stats.projected_value %></span>
                <span>on <%= @stats.projected_date %></span>
            </div>
        </div>
        <div id="graph"></div>
    </div>

    <div id="entries">
        <%= simple_form_for @measurement do |f| %>
            <%= f.input :date, as: :date_picker %>
            <%= f.input :value, step: '0.1' %>
            <%= f.button :submit %>
        <% end %>
        <%= render @measurements %>
    </div>
</div>