<div id="goal" class="text-center mt-8 mb-8">Goal: <%= @stats.goal %></div>

<div class="flex justify-around">
    <div id="current" class="flex flex-col items-center">
        <span>Current</span>
        <span><%= @stats.current %>kg</span>
        <span><%= @stats.to_go %>kg to go</span>
    </div>
    <div id="pace" class="flex flex-col items-center">
        <span>Target</span>
        <span><%= @stats.target %>kg</span>
        <span><%= @stats.target_delta %></span>
    </div>
    <div id="daily_goal" class="flex flex-col items-center">
        <span>Daily Goal</span>
        <span><%= @stats.daily_goal %>kg</span>
        <span>per day</span>
    </div>
    <div id="projected" class="flex flex-col items-center">
        <span>Projected</span>
        <span><%= @stats.projected_value %>kg</span>
        <span>on <%= @stats.projected_date %></span>
    </div>
</div>

<canvas id="measurements_graph" class="p-8"></canvas>

<div id="entries">
    <%= simple_form_for @measurement do |f| %>
        <%= f.input :date, as: :date_picker %>
        <%= f.input :value, step: '0.1' %>
        <%= f.button :submit %>
    <% end %>
    <%= render @measurements %>
</div>

<div id="goal">
    <%= simple_form_for @goal do |f| %>
        <%= f.input :start_date, as: :date_picker %>
        <%= f.input :end_date, as: :date_picker %>
        <%= f.input :start_value, step: '0.1' %>
        <%= f.input :end_value, step: '0.1' %>
        <%= f.button :submit %>
    <% end %>
</div>

<script>
var ctx = document.getElementById('measurements_graph').getContext('2d');
var chart_definition = <%= raw(@stats.chart_definition) %>;
var myChart = new Chart(ctx, chart_definition);
</script>