<div id="container" class="flex-vertical">
    <div id="status">
        <div id="pace">
            <div id="value">Pace: 79.1</div>
            <div id="graph">
                <div id="progress"></div>
            </div>
        </div>
        <div id="progress">
            <div id="daily_goal" class="flex-vertical">
                <span>Daily Goal</span>
                <span>0.17</span>
                <span>per day</span>
            </div>
            <div id="current" class="flex-vertical">
                <span>Current</span>
                <span>79.8</span>
                <span>3.8 to go</span>
            </div>
            <div id="projected" class="flex-vertical">
                <span>Projected</span>
                <span>77.5</span>
                <span>on 30/04/20</span>
            </div>
        </div>
        <div id="graph"></div>
    </div>

    <div id="entries">
        <%= simple_form_for @measurement do |f| %>
            <%= f.input :date, as: :date_picker %>
            <%= f.input :value, placeholder: 'weight (kg)', step: '0.1' %>
            <%= f.button :submit, 'Add' %>
        <% end %>
        <%= render @measurements %>
    </div>
</div>