<div class="center-horizontal my-10">
  <%= simple_form_for :session, url: session_path, defaults: { wrapper_html: { class: 'form-field'} } do |form| %>

    <%= form.input :email %>
    <%= form.input :password %>

    <div class="form-field center-horizontal">
      <%= form.button :submit %>
    </div>

    <div class="center-horizontal">
      <%= link_to t(".sign_up"), sign_up_path, class: 'link-indigo' %>
      <%= link_to t(".forgot_password"), new_password_path, class: 'link-indigo' %>
    </div>
  <% end %>
</div>
