<div class="center-horizontal my-10">
  <%= simple_form_for @user, defaults: { wrapper_html: { class: 'form-field'}, input_html: { class: 'input-text' } } do |form| %>

    <%= form.input :email %>
    <%= form.input :password %>

    <div class="form-field center-horizontal">
      <%= form.button :submit %>
    </div>

    <div class="center-horizontal">
      <%= link_to t(".sign_in"), sign_in_path, class: 'link-indigo' %>
    </div>
  <% end %>
</div>
