<%= simple_form_for @goal do |f| %>
  <%= f.input :title %>
  <%= f.input :units %>
  <%= f.input :date, as: :date_picker %>
  <%= f.input :value, step: '0.1' %>

  <div class="form-field center-horizontal">
    <%= f.button :submit %>
  </div>
<% end %>
