<%= render layout: 'shared/card', locals: { title: 'Active Goals' } do %>
  <div class="active-goals">
    <% @goals.active.each do |goal| %>
      <div class='m-6 text-center lg:w-64'>
        <%= link_to goal.title, goal_path(goal), class: 'link-indigo' %>
      </div>
    <% end %>
  </div>

  <div class='p-6 lg:p-2 text-center bg-indigo-800 lg:rounded-b-lg text-indigo-100 hover:text-indigo-200'>
    <%= link_to 'Create goal', new_goal_path, class: '' %>
  </div>
<% end %>

<%= render layout: 'shared/card', locals: { title: 'Complete Goals' } do %>
  <div class="complete-goals">
    <% @goals.complete.each do |goal| %>
      <div class='m-6 text-center lg:w-64'>
        <%= link_to goal.title, goal_path(goal), class: 'link-indigo' %>
      </div>
    <% end %>
  </div>
<% end %>

