<%= render partial: 'goals/description', locals: { goal: @goal } %>

<%= render partial: 'shared/card', locals: { 
    attributes: {
        'data-controller': 'content-loader',
        'data-content-loader-url-value': goal_summary_path(@goal)
    } } %>

<%= render layout: 'shared/card' do %>
    <canvas id="measurements_graph" class="p-4" style="width: 90vw"></canvas>
<% end %>

<%= render partial: 'shared/card', locals: { 
    attributes: {
        'data-controller': 'content-loader',
        'data-content-loader-url-value': table_goal_measurements_path(@goal)
    } } %>

<%= render layout: 'shared/card', locals: { title: 'Measurements' } do %>
  <div class="p-4 pb-0" 
       data-controller="content-loader"
       data-content-loader-url-value="<%= new_goal_measurement_path(@goal) %>">
  </div>
  <turbo-frame id="measurements" src="<%= goal_measurements_path(@goal) %>">
    <div>Loading measurements...</div>
  </turbo-frame>
<% end %>

<script>
var ctx = document.getElementById('measurements_graph').getContext('2d');
var chart_definition = <%= raw(@goal.chart_definition) %>;
var myChart = new Chart(ctx, chart_definition);
</script>
