<div class="lg:flex lg:justify-center my-6 lg:m-6">
    <div id="goal" class="flex items-center bg-white lg:rounded-lg shadow-md">
        <div class="p-6 lg:p-2 lg:pl-3 lg:rounded-l-lg bg-indigo-800 text-indigo-100">Goal</div>
        <div class="w-full text-center lg:p-2 lg:pr-3"><%= @goal.description %></div>
        <%= link_to edit_goal_path(@goal) do %>
            Edit
        <% end %>
    </div>
</div>

<%= render layout: 'shared/card' do %>
    <div class="flex justify-around py-4">
        <div id="current" class="flex flex-col items-center">
            <span>Current</span>
            <span><%= @goal.current %>kg</span>
            <span><%= @goal.to_go %>kg to go</span>
        </div>
        <div id="pace" class="flex flex-col items-center">
            <span>Target</span>
            <span><%= @goal.target %>kg</span>
            <span><%= @goal.target_delta %></span>
        </div>
        <div id="daily_goal" class="flex flex-col items-center">
            <span>Daily Goal</span>
            <span><%= @goal.daily_goal %>kg</span>
            <span>per day</span>
        </div>
        <div id="projected" class="flex flex-col items-center">
            <span>Projected</span>
            <span><%= @goal.projected_value %></span>
            <span><%= @goal.projected_date %></span>
        </div>
    </div>

    <canvas id="measurements_graph" class="pb-6 px-6"></canvas>
<% end %>

<%= render layout: 'shared/card', locals: { title: 'New Measurement' } do %>
    <%= simple_form_for @measurement, html: { class: 'flex justify-between p-2 pl-4 pr-4' } do |f| %>
        <%= f.input :date, as: :date_picker, label_html: { class: 'hidden lg:inline text-gray-700 text-sm font-bold mb-2' }, input_html: { class: 'shadow appearance-none border rounded text-gray-700 leading-tight py-2 px-3 ml-3 focus:outline-none focus:shadow-outline' } %>
        <%= f.input :value, step: '0.1', label_html: { class: 'hidden lg:inline text-gray-700 text-sm font-bold mb-2' }, input_html: { class: 'shadow appearance-none border rounded text-gray-700 leading-tight py-2 px-3 ml-3 focus:outline-none focus:shadow-outline' } %>
        <%= f.button :submit, class: 'bg-indigo-600 hover:bg-indigo-900 text-indigo-100 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <% end %>
<% end %>

<%= render layout: 'shared/card', locals: { title: 'Measurements' } do %>
    <%= render @goal.measurements %>
<% end %>

<script>
var ctx = document.getElementById('measurements_graph').getContext('2d');
var chart_definition = <%= raw(@goal.chart_definition) %>;
var myChart = new Chart(ctx, chart_definition);
</script>