<!DOCTYPE html>
<html>
  <head>
    <title>WeightDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-indigo-100 text-4xl lg:text-base text-indigo-900">
    <%= render 'shared/header'%>
    <%= render 'shared/flashes'%>
    <%= yield %>
  </body>
</html>
